.calendar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--calendar-spacing));
  margin-left: calc(-1 * var(--calendar-spacing));
  padding: var(--calendar-spacing);
  margin-left: auto;
  padding-right: 1rem;
}
