.day {
  position: relative;
  outline: var(--calendar-spacing) solid hsl(50, 100%, 0%); /* use instead of border */
  margin-top: var(--calendar-spacing);
  margin-left: var(--calendar-spacing);
  width: 7rem;
  height: 7rem;
  display: flex;
  justify-content: center;
  border-radius: 1rem;
}

.date {
  position: absolute;
  align-self: flex-start;
  left: 0.5rem;
  top: 0.5rem;
}

.temperature {
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.emoji {
  position: relative;
  font-size: 1.5em;
}
