p {
  margin: 0;
}

body {
  --calendar-spacing: 0.3rem;
}

.App {
  display: grid;
  grid-template-rows: auto auto;
  /* grid-template-columns: auto minmax(); */
  /* max-width: 70rem; */
}

#logo {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  /* color: hsl(50, 100%, 50%); */
  color: hsl(50, 100%, 0%);
  font-size: 3em;
}

#instructions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

#instructions-cont {
  max-width: 57ch;
  margin: 1rem;
  background-color: hsl(50, 100%, 80%);
  padding: 1.2rem;
  height: fit-content;
  border-radius: 1rem;
  border: 0.3rem solid hsl(50, 100%, 0%);
}

.content-cont {
  display: flex;
  justify-content: center;
}

#content {
  display: grid;
  grid-template-columns: auto 1fr;
  /* justify-content: center; */
  /* max-width: 80rem; */
  margin-top: 2rem;
  width: clamp(0vw, 65rem, 100vw);
  /* margin: 0 auto 0 auto; */
}

/* #content {
  display: flex;
  justify-self: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
 */
@media (max-width: 40rem) {
  #content {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr;
  }
}
